In [1]:
import pandas as pd
import json

In [2]:
data_dir = '/Users/s2531396/Library/CloudStorage/OneDrive-UniversityofEdinburgh/PhD/Code'

In [93]:
file = open('19235.json')

In [94]:
data = json.load(file)

In [12]:
data['id']

19235

In [3]:
with open('19235.json', 'r') as file:
    data = json.load(file)

In [4]:
df = pd.json_normalize(data)

In [5]:
df

,id,versionId,species,dataCategory,generalDesc.name,generalDesc.purpose,generalDesc.description,generalDesc.comments,contributionDesc.authors,contributionDesc.curators,...,bioSummary.growthStages,bioSummary.tagTypes,bioSummary.materialTypes,bioSummary.materialOrigins,bioSummary.customTags,bioSummary.externalIds,provenance.created,provenance.createdBy,provenance.modified,provenance.modifiedBy
0,19235,1.0.5,Arabidopsis thaliana,EXPR_REPORTER,Role of PRR7 in control of the CCA1 promoter,To test whether PRR7 is required for circadian...,In previous experiments several clock mutation...,Details are as in Bordage et al (2016) New Phy...,"[{'id': 2627, 'login': 'hnimmo', 'firstName': ...",[],...,[],[],[],[],[],[],"[2021, 5, 20, 11, 40, 29, 435610000]",Hugh Nimmo,"[2021, 9, 22, 10, 12, 6, 894984951]",Hugh Nimmo

In [24]:
df['contributionDesc.authors']

0    [{'id': 2627, 'login': 'hnimmo', 'firstName': ...
Name: contributionDesc.authors, dtype: object

In [10]:
test = json.dumps(data)

In [11]:
test

'{"id": 17264, "versionId": "52.0.5", "generalDesc": {"name": "CCA1:LUC", "purpose": "Analysis CCA1:LUC period and amplitude changes. 111111111", "description": null, "comments": null}, "contributionDesc": {"authors": [{"id": null, "login": null, "firstName": "Flash", "lastName": "Light", "ORCID": null}], "curators": [], "institutions": [{"name": "University of Edinburgh", "longName": "University of Edinburgh"}], "fundings": []}, "experimentalDetails": {"measurementDesc": {"technique": "Luciferase luminescence", "equipment": null, "description": null, "parameters": []}, "growthEnvironments": {"environments": []}, "experimentalEnvironments": {"environments": []}, "executionDate": [2020, 9, 11]}, "characteristic": {"hasAttachments": true, "hasTSData": true, "hasPPAJobs": true, "hasDataFiles": true, "attachmentsSize": 2, "biodare1Id": 0, "isOpenAccess": true, "licence": "CC_BY", "hasRhythmicityJobs": true}, "bioDescription": {"bios": []}, "bioSummary": {"dataCategories": [], "labels": [], "species": [], "ecotypes": [], "genotypes": [], "markers": [], "lines": [], "growthStages": [], "tagTypes": [], "materialTypes": [], "materialOrigins": [], "customTags": [], "externalIds": []}, "species": "Arabidopsis thaliana", "dataCategory": "EXPR_REPORTER", "provenance": {"created": [2020, 9, 11, 20, 24, 51, 845822000], "createdBy": "Sergio Gil", "modified": [2023, 2, 11, 1, 15, 14, 35289364], "modifiedBy": "Sergio Gil"}}'

In [15]:
data_dict = json.loads(test)

In [16]:
df = pd.json_normalize(data_dict)

In [17]:
df

,id,versionId,species,dataCategory,generalDesc.name,generalDesc.purpose,generalDesc.description,generalDesc.comments,contributionDesc.authors,contributionDesc.curators,...,bioSummary.growthStages,bioSummary.tagTypes,bioSummary.materialTypes,bioSummary.materialOrigins,bioSummary.customTags,bioSummary.externalIds,provenance.created,provenance.createdBy,provenance.modified,provenance.modifiedBy
0,17264,52.0.5,Arabidopsis thaliana,EXPR_REPORTER,CCA1:LUC,Analysis CCA1:LUC period and amplitude changes...,None,None,"[{'id': None, 'login': None, 'firstName': 'Fla...",[],...,[],[],[],[],[],[],"[2020, 9, 11, 20, 24, 51, 845822000]",Sergio Gil,"[2023, 2, 11, 1, 15, 14, 35289364]",Sergio Gil

#### New try

In [51]:
file = open('19235.json')

In [52]:
data = json.load(file)

In [53]:
data

{'id': 19235,
 'versionId': '1.0.5',
 'generalDesc': {'name': 'Role of PRR7 in control of the CCA1 promoter',
  'purpose': 'To test whether PRR7 is required for circadian input to the CCA1 promoter in shoots and roots',
  'description': 'In previous experiments several clock mutations were found to have different effects on shoots and roots. In these experiments mature prr7-3 plants expressing CCA1::LUC were grown on vertical agar plates as described previously. LUC activity in shoots and roots was monitored over 2 full days in LD cycles (12:12) followed by 4 days in LL.',
  'comments': 'Details are as in Bordage et al (2016) New Phytol. 212, 136-149'},
 'contributionDesc': {'authors': [{'id': 2627,
    'login': 'hnimmo',
    'firstName': 'Hugh',
    'lastName': 'Nimmo',
    'ORCID': None}],
  'curators': [],
  'institutions': [{'name': 'University of Glasgow',
    'longName': 'University of Glasgow'}],
  'fundings': [{'institution': {'name': 'BBSRC'}, 'grantNr': 'BB/K006835/1'}]},
 'experimentalDetails': {'measurementDesc': {'technique': 'Luciferase luminescence',
   'equipment': 'Photek 225/18 CCD camera',
   'description': 'Mature plants were on square vertical agar plates at 20°C with shoot and root compartments separated and images recorded as in Bordage et al 2016. Plants were sprayed with luciferin 15 h before the start of data collection. Images were recorded every 1.5 h for 2 days in LD and 4 days in LL.',
   'parameters': []},
  'growthEnvironments': {'environments': []},
  'experimentalEnvironments': {'environments': []},
  'executionDate': [2021, 5, 20]},
 'characteristic': {'hasAttachments': False,
  'hasTSData': True,
  'hasPPAJobs': True,
  'hasDataFiles': True,
  'attachmentsSize': 0,
  'biodare1Id': 0,
  'isOpenAccess': True,
  'licence': 'CC_BY',
  'hasRhythmicityJobs': False},
 'bioDescription': {'bios': []},
 'bioSummary': {'dataCategories': [],
  'labels': [],
  'species': [],
  'ecotypes': [],
  'genotypes': [],
  'markers': [],
  'lines': [],
  'growthStages': [],
  'tagTypes': [],
  'materialTypes': [],
  'materialOrigins': [],
  'customTags': [],
  'externalIds': []},
 'species': 'Arabidopsis thaliana',
 'dataCategory': 'EXPR_REPORTER',
 'provenance': {'created': [2021, 5, 20, 11, 40, 29, 435610000],
  'createdBy': 'Hugh Nimmo',
  'modified': [2021, 9, 22, 10, 12, 6, 894984951],
  'modifiedBy': 'Hugh Nimmo'}}

In [13]:
data['id']

19235

In [23]:
data['contributionDesc']

{'authors': [{'id': 2627,
   'login': 'hnimmo',
   'firstName': 'Hugh',
   'lastName': 'Nimmo',
   'ORCID': None}],
 'curators': [],
 'institutions': [{'name': 'University of Glasgow',
   'longName': 'University of Glasgow'}],
 'fundings': [{'institution': {'name': 'BBSRC'}, 'grantNr': 'BB/K006835/1'}]}

In [20]:
data['generalDesc']

{'name': 'Role of PRR7 in control of the CCA1 promoter',
 'purpose': 'To test whether PRR7 is required for circadian input to the CCA1 promoter in shoots and roots',
 'description': 'In previous experiments several clock mutations were found to have different effects on shoots and roots. In these experiments mature prr7-3 plants expressing CCA1::LUC were grown on vertical agar plates as described previously. LUC activity in shoots and roots was monitored over 2 full days in LD cycles (12:12) followed by 4 days in LL.',
 'comments': 'Details are as in Bordage et al (2016) New Phytol. 212, 136-149'}

In [21]:
df = pd.json_normalize(data['generalDesc'],
                      meta=['name','purpose','description','comments'])

In [22]:
df

,name,purpose,description,comments
0,Role of PRR7 in control of the CCA1 promoter,To test whether PRR7 is required for circadian...,In previous experiments several clock mutation...,Details are as in Bordage et al (2016) New Phy...

In [57]:
type(data['contributionDesc'])

dict

In [58]:
data['contributionDesc'].items()

dict_items([('authors', [{'id': 2627, 'login': 'hnimmo', 'firstName': 'Hugh', 'lastName': 'Nimmo', 'ORCID': None}]), ('curators', []), ('institutions', [{'name': 'University of Glasgow', 'longName': 'University of Glasgow'}]), ('fundings', [{'institution': {'name': 'BBSRC'}, 'grantNr': 'BB/K006835/1'}])])

In [59]:
data['contributionDesc']['authors']

[{'id': 2627,
  'login': 'hnimmo',
  'firstName': 'Hugh',
  'lastName': 'Nimmo',
  'ORCID': None}]

In [60]:
df2 = pd.json_normalize(data['contributionDesc']['authors'],
                      meta=['id','login','firstName','lastName','ORCID'])

In [62]:
df_new = df2.rename(columns={'id': 'author_id','login': 'author_login','firstName':'author_firstName',
                            'lastName':'author_lastName','ORCID':'author_ORCID'})

In [63]:
df_new

   author_id author_login author_firstName author_lastName author_ORCID
0       2627       hnimmo             Hugh           Nimmo         None

In [16]:
help(pd.json_normalize)

Help on function json_normalize in module pandas.io.json._normalize:

json_normalize(data: 'dict | list[dict]', record_path: 'str | list | None' = None, meta: 'str | list[str | list[str]] | None' = None, meta_prefix: 'str | None' = None, record_prefix: 'str | None' = None, errors: 'IgnoreRaise' = 'raise', sep: 'str' = '.', max_level: 'int | None' = None) -> 'DataFrame'
    Normalize semi-structured JSON data into a flat table.

    Parameters
    ----------
    data : dict or list of dicts
        Unserialized JSON objects.
    record_path : str or list of str, default None
        Path in each object to list of records. If not passed, data will be
        assumed to be an array of records.
    meta : list of paths (str or list of str), default None
        Fields to use as metadata for each record in resulting table.
    meta_prefix : str, default None
        If True, prefix records with dotted (?) path, e.g. foo.bar.field if
        meta is ['foo', 'bar'].
    record_prefix : str, default None
        If True, prefix records with dotted (?) path, e.g. foo.bar.field if
        path to records is ['foo', 'bar'].
    errors : {'raise', 'ignore'}, default 'raise'
        Configures error handling.

        * 'ignore' : will ignore KeyError if keys listed in meta are not
          always present.
        * 'raise' : will raise KeyError if keys listed in meta are not
          always present.
    sep : str, default '.'
        Nested records will generate names separated by sep.
        e.g., for sep='.', {'foo': {'bar': 0}} -> foo.bar.
    max_level : int, default None
        Max number of levels(depth of dict) to normalize.
        if None, normalizes all levels.

    Returns
    -------
    frame : DataFrame
    Normalize semi-structured JSON data into a flat table.

    Examples
    --------
    >>> data = [
    ...     {"id": 1, "name": {"first": "Coleen", "last": "Volk"}},
    ...     {"name": {"given": "Mark", "family": "Regner"}},
    ...     {"id": 2, "name": "Faye Raker"},
    ... ]
    >>> pd.json_normalize(data)
        id name.first name.last name.given name.family        name
    0  1.0     Coleen      Volk        NaN         NaN         NaN
    1  NaN        NaN       NaN       Mark      Regner         NaN
    2  2.0        NaN       NaN        NaN         NaN  Faye Raker

    >>> data = [
    ...     {
    ...         "id": 1,
    ...         "name": "Cole Volk",
    ...         "fitness": {"height": 130, "weight": 60},
    ...     },
    ...     {"name": "Mark Reg", "fitness": {"height": 130, "weight": 60}},
    ...     {
    ...         "id": 2,
    ...         "name": "Faye Raker",
    ...         "fitness": {"height": 130, "weight": 60},
    ...     },
    ... ]
    >>> pd.json_normalize(data, max_level=0)
        id        name                        fitness
    0  1.0   Cole Volk  {'height': 130, 'weight': 60}
    1  NaN    Mark Reg  {'height': 130, 'weight': 60}
    2  2.0  Faye Raker  {'height': 130, 'weight': 60}

    Normalizes nested data up to level 1.

    >>> data = [
    ...     {
    ...         "id": 1,
    ...         "name": "Cole Volk",
    ...         "fitness": {"height": 130, "weight": 60},
    ...     },
    ...     {"name": "Mark Reg", "fitness": {"height": 130, "weight": 60}},
    ...     {
    ...         "id": 2,
    ...         "name": "Faye Raker",
    ...         "fitness": {"height": 130, "weight": 60},
    ...     },
    ... ]
    >>> pd.json_normalize(data, max_level=1)
        id        name  fitness.height  fitness.weight
    0  1.0   Cole Volk             130              60
    1  NaN    Mark Reg             130              60
    2  2.0  Faye Raker             130              60

    >>> data = [
    ...     {
    ...         "state": "Florida",
    ...         "shortname": "FL",
    ...         "info": {"governor": "Rick Scott"},
    ...         "counties": [
    ...             {"name": "Dade", "population": 12345},
    ...             {"name": "Broward", "population": 40000},
    ...             {"name": "Palm Beach", "population": 60000},
    ...         ],
    ...     },
    ...     {
    ...         "state": "Ohio",
    ...         "shortname": "OH",
    ...         "info": {"governor": "John Kasich"},
    ...         "counties": [
    ...             {"name": "Summit", "population": 1234},
    ...             {"name": "Cuyahoga", "population": 1337},
    ...         ],
    ...     },
    ... ]
    >>> result = pd.json_normalize(
    ...     data, "counties", ["state", "shortname", ["info", "governor"]]
    ... )
    >>> result
             name  population    state shortname info.governor
    0        Dade       12345   Florida    FL    Rick Scott
    1     Broward       40000   Florida    FL    Rick Scott
    2  Palm Beach       60000   Florida    FL    Rick Scott
    3      Summit        1234   Ohio       OH    John Kasich
    4    Cuyahoga        1337   Ohio       OH    John Kasich

    >>> data = {"A": [1, 2]}
    >>> pd.json_normalize(data, "A", record_prefix="Prefix.")
        Prefix.0
    0          1
    1          2

    Returns normalized data with columns prefixed with the given string.

In [68]:
df_join = pd.merge(df,df_new,left_index=True, right_index=True, how='inner')

In [69]:
df_join

,name,purpose,description,comments,author_id,author_login,author_firstName,author_lastName,author_ORCID
0,Role of PRR7 in control of the CCA1 promoter,To test whether PRR7 is required for circadian...,In previous experiments several clock mutation...,Details are as in Bordage et al (2016) New Phy...,2627,hnimmo,Hugh,Nimmo,None

In [66]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'MergeHow' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool | None' = None, indicator: 'str | bool' = False, validate: 'str | None' = None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    A named Series object is treated as a DataFrame with a single named column.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    .. warning::

        If both key columns contain rows where the key is a null value, those
        rows will be matched against each other. This is different from usual SQL
        join behaviour and can lead to unexpected results.

    Parameters
    ----------
    left : DataFrame or named Series
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.

          .. versionadded:: 1.2.0

    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [70]:
df_curators = pd.json_normalize(data['contributionDesc']['curators'])

In [74]:
data['contributionDesc']['curators'] = None

In [75]:
df_join['curators'] = data['contributionDesc']['curators']

In [76]:
df_join

,name,purpose,description,comments,author_id,author_login,author_firstName,author_lastName,author_ORCID,curators
0,Role of PRR7 in control of the CCA1 promoter,To test whether PRR7 is required for circadian...,In previous experiments several clock mutation...,Details are as in Bordage et al (2016) New Phy...,2627,hnimmo,Hugh,Nimmo,None,None

In [77]:
data['contributionDesc']

{'authors': [{'id': 2627,
   'login': 'hnimmo',
   'firstName': 'Hugh',
   'lastName': 'Nimmo',
   'ORCID': None}],
 'curators': None,
 'institutions': [{'name': 'University of Glasgow',
   'longName': 'University of Glasgow'}],
 'fundings': [{'institution': {'name': 'BBSRC'}, 'grantNr': 'BB/K006835/1'}]}

In [78]:
df_institutions = pd.json_normalize(data['contributionDesc']['institutions'],
                      meta=['name','longName'])

In [79]:
df_institutions

                    name               longName
0  University of Glasgow  University of Glasgow

In [82]:
df3_new = df_institutions.rename(columns={'name':'institution_name','longName':'institution_longName'})

In [83]:
df3_new

        institution_name   institution_longName
0  University of Glasgow  University of Glasgow

In [84]:
df_join2 = pd.merge(df_join,df3_new,left_index=True, right_index=True, how='inner')

In [85]:
df_join2

,name,purpose,description,comments,author_id,author_login,author_firstName,author_lastName,author_ORCID,curators,institution_name,institution_longName
0,Role of PRR7 in control of the CCA1 promoter,To test whether PRR7 is required for circadian...,In previous experiments several clock mutation...,Details are as in Bordage et al (2016) New Phy...,2627,hnimmo,Hugh,Nimmo,None,None,University of Glasgow,University of Glasgow

In [86]:
df_funding = pd.json_normalize(data['contributionDesc']['fundings'],
                      meta=['institution','grantNr'])

In [88]:
df4_new = df_funding.rename(columns={'institution':'institution_funding_name','grantNr':'grantNr_funding'})

In [89]:
df_join3 = pd.merge(df_join2,df4_new,left_index=True, right_index=True, how='inner')

In [90]:
df_join3

,name,purpose,description,comments,author_id,author_login,author_firstName,author_lastName,author_ORCID,curators,institution_name,institution_longName,grantNr_funding,institution.name
0,Role of PRR7 in control of the CCA1 promoter,To test whether PRR7 is required for circadian...,In previous experiments several clock mutation...,Details are as in Bordage et al (2016) New Phy...,2627,hnimmo,Hugh,Nimmo,None,None,University of Glasgow,University of Glasgow,BB/K006835/1,BBSRC

In [91]:
data['experimentalDetails']

{'measurementDesc': {'technique': 'Luciferase luminescence',
  'equipment': 'Photek 225/18 CCD camera',
  'description': 'Mature plants were on square vertical agar plates at 20°C with shoot and root compartments separated and images recorded as in Bordage et al 2016. Plants were sprayed with luciferin 15 h before the start of data collection. Images were recorded every 1.5 h for 2 days in LD and 4 days in LL.',
  'parameters': []},
 'growthEnvironments': {'environments': []},
 'experimentalEnvironments': {'environments': []},
 'executionDate': [2021, 5, 20]}

In [92]:
help(pd.json_normalize)

Help on function json_normalize in module pandas.io.json._normalize:

json_normalize(data: 'dict | list[dict]', record_path: 'str | list | None' = None, meta: 'str | list[str | list[str]] | None' = None, meta_prefix: 'str | None' = None, record_prefix: 'str | None' = None, errors: 'IgnoreRaise' = 'raise', sep: 'str' = '.', max_level: 'int | None' = None) -> 'DataFrame'
    Normalize semi-structured JSON data into a flat table.

    Parameters
    ----------
    data : dict or list of dicts
        Unserialized JSON objects.
    record_path : str or list of str, default None
        Path in each object to list of records. If not passed, data will be
        assumed to be an array of records.
    meta : list of paths (str or list of str), default None
        Fields to use as metadata for each record in resulting table.
    meta_prefix : str, default None
        If True, prefix records with dotted (?) path, e.g. foo.bar.field if
        meta is ['foo', 'bar'].
    record_prefix : str, default None
        If True, prefix records with dotted (?) path, e.g. foo.bar.field if
        path to records is ['foo', 'bar'].
    errors : {'raise', 'ignore'}, default 'raise'
        Configures error handling.

        * 'ignore' : will ignore KeyError if keys listed in meta are not
          always present.
        * 'raise' : will raise KeyError if keys listed in meta are not
          always present.
    sep : str, default '.'
        Nested records will generate names separated by sep.
        e.g., for sep='.', {'foo': {'bar': 0}} -> foo.bar.
    max_level : int, default None
        Max number of levels(depth of dict) to normalize.
        if None, normalizes all levels.

    Returns
    -------
    frame : DataFrame
    Normalize semi-structured JSON data into a flat table.

    Examples
    --------
    >>> data = [
    ...     {"id": 1, "name": {"first": "Coleen", "last": "Volk"}},
    ...     {"name": {"given": "Mark", "family": "Regner"}},
    ...     {"id": 2, "name": "Faye Raker"},
    ... ]
    >>> pd.json_normalize(data)
        id name.first name.last name.given name.family        name
    0  1.0     Coleen      Volk        NaN         NaN         NaN
    1  NaN        NaN       NaN       Mark      Regner         NaN
    2  2.0        NaN       NaN        NaN         NaN  Faye Raker

    >>> data = [
    ...     {
    ...         "id": 1,
    ...         "name": "Cole Volk",
    ...         "fitness": {"height": 130, "weight": 60},
    ...     },
    ...     {"name": "Mark Reg", "fitness": {"height": 130, "weight": 60}},
    ...     {
    ...         "id": 2,
    ...         "name": "Faye Raker",
    ...         "fitness": {"height": 130, "weight": 60},
    ...     },
    ... ]
    >>> pd.json_normalize(data, max_level=0)
        id        name                        fitness
    0  1.0   Cole Volk  {'height': 130, 'weight': 60}
    1  NaN    Mark Reg  {'height': 130, 'weight': 60}
    2  2.0  Faye Raker  {'height': 130, 'weight': 60}

    Normalizes nested data up to level 1.

    >>> data = [
    ...     {
    ...         "id": 1,
    ...         "name": "Cole Volk",
    ...         "fitness": {"height": 130, "weight": 60},
    ...     },
    ...     {"name": "Mark Reg", "fitness": {"height": 130, "weight": 60}},
    ...     {
    ...         "id": 2,
    ...         "name": "Faye Raker",
    ...         "fitness": {"height": 130, "weight": 60},
    ...     },
    ... ]
    >>> pd.json_normalize(data, max_level=1)
        id        name  fitness.height  fitness.weight
    0  1.0   Cole Volk             130              60
    1  NaN    Mark Reg             130              60
    2  2.0  Faye Raker             130              60

    >>> data = [
    ...     {
    ...         "state": "Florida",
    ...         "shortname": "FL",
    ...         "info": {"governor": "Rick Scott"},
    ...         "counties": [
    ...             {"name": "Dade", "population": 12345},
    ...             {"name": "Broward", "population": 40000},
    ...             {"name": "Palm Beach", "population": 60000},
    ...         ],
    ...     },
    ...     {
    ...         "state": "Ohio",
    ...         "shortname": "OH",
    ...         "info": {"governor": "John Kasich"},
    ...         "counties": [
    ...             {"name": "Summit", "population": 1234},
    ...             {"name": "Cuyahoga", "population": 1337},
    ...         ],
    ...     },
    ... ]
    >>> result = pd.json_normalize(
    ...     data, "counties", ["state", "shortname", ["info", "governor"]]
    ... )
    >>> result
             name  population    state shortname info.governor
    0        Dade       12345   Florida    FL    Rick Scott
    1     Broward       40000   Florida    FL    Rick Scott
    2  Palm Beach       60000   Florida    FL    Rick Scott
    3      Summit        1234   Ohio       OH    John Kasich
    4    Cuyahoga        1337   Ohio       OH    John Kasich

    >>> data = {"A": [1, 2]}
    >>> pd.json_normalize(data, "A", record_prefix="Prefix.")
        Prefix.0
    0          1
    1          2

    Returns normalized data with columns prefixed with the given string.

In [105]:
df_generalDesc = pd.json_normalize(data['generalDesc'])
df_generalDesc

,name,purpose,description,comments
0,Role of PRR7 in control of the CCA1 promoter,To test whether PRR7 is required for circadian...,In previous experiments several clock mutation...,Details are as in Bordage et al (2016) New Phy...

In [107]:
df_contributionDesc_authors = pd.json_normalize(data['contributionDesc']['authors'])
df_contributionDesc_authors

     id   login firstName lastName ORCID
0  2627  hnimmo      Hugh    Nimmo  None

In [109]:
df_curators = pd.json_normalize(data['contributionDesc']['curators'])
df_curators

Empty DataFrame
Columns: []
Index: []

In [111]:
df_institutions = pd.json_normalize(data['contributionDesc']['institutions'])
df_institutions

                    name               longName
0  University of Glasgow  University of Glasgow

In [112]:
data

{'id': 19235,
 'versionId': '1.0.5',
 'generalDesc': {'name': 'Role of PRR7 in control of the CCA1 promoter',
  'purpose': 'To test whether PRR7 is required for circadian input to the CCA1 promoter in shoots and roots',
  'description': 'In previous experiments several clock mutations were found to have different effects on shoots and roots. In these experiments mature prr7-3 plants expressing CCA1::LUC were grown on vertical agar plates as described previously. LUC activity in shoots and roots was monitored over 2 full days in LD cycles (12:12) followed by 4 days in LL.',
  'comments': 'Details are as in Bordage et al (2016) New Phytol. 212, 136-149'},
 'contributionDesc': {'authors': [{'id': 2627,
    'login': 'hnimmo',
    'firstName': 'Hugh',
    'lastName': 'Nimmo',
    'ORCID': None}],
  'curators': [],
  'institutions': [{'name': 'University of Glasgow',
    'longName': 'University of Glasgow'}],
  'fundings': [{'institution': {'name': 'BBSRC'}, 'grantNr': 'BB/K006835/1'}]},
 'experimentalDetails': {'measurementDesc': {'technique': 'Luciferase luminescence',
   'equipment': 'Photek 225/18 CCD camera',
   'description': 'Mature plants were on square vertical agar plates at 20°C with shoot and root compartments separated and images recorded as in Bordage et al 2016. Plants were sprayed with luciferin 15 h before the start of data collection. Images were recorded every 1.5 h for 2 days in LD and 4 days in LL.',
   'parameters': []},
  'growthEnvironments': {'environments': []},
  'experimentalEnvironments': {'environments': []},
  'executionDate': [2021, 5, 20]},
 'characteristic': {'hasAttachments': False,
  'hasTSData': True,
  'hasPPAJobs': True,
  'hasDataFiles': True,
  'attachmentsSize': 0,
  'biodare1Id': 0,
  'isOpenAccess': True,
  'licence': 'CC_BY',
  'hasRhythmicityJobs': False},
 'bioDescription': {'bios': []},
 'bioSummary': {'dataCategories': [],
  'labels': [],
  'species': [],
  'ecotypes': [],
  'genotypes': [],
  'markers': [],
  'lines': [],
  'growthStages': [],
  'tagTypes': [],
  'materialTypes': [],
  'materialOrigins': [],
  'customTags': [],
  'externalIds': []},
 'species': 'Arabidopsis thaliana',
 'dataCategory': 'EXPR_REPORTER',
 'provenance': {'created': [2021, 5, 20, 11, 40, 29, 435610000],
  'createdBy': 'Hugh Nimmo',
  'modified': [2021, 9, 22, 10, 12, 6, 894984951],
  'modifiedBy': 'Hugh Nimmo'}}

In [113]:
df_fundings = pd.json_normalize(data['contributionDesc']['fundings'])
df_fundings

        grantNr institution.name
0  BB/K006835/1            BBSRC

In [114]:
data['experimentalDetails']

{'measurementDesc': {'technique': 'Luciferase luminescence',
  'equipment': 'Photek 225/18 CCD camera',
  'description': 'Mature plants were on square vertical agar plates at 20°C with shoot and root compartments separated and images recorded as in Bordage et al 2016. Plants were sprayed with luciferin 15 h before the start of data collection. Images were recorded every 1.5 h for 2 days in LD and 4 days in LL.',
  'parameters': []},
 'growthEnvironments': {'environments': []},
 'experimentalEnvironments': {'environments': []},
 'executionDate': [2021, 5, 20]}

In [115]:
df_experimentalDetails = pd.json_normalize(data['experimentalDetails'])
df_experimentalDetails

,executionDate,measurementDesc.technique,measurementDesc.equipment,measurementDesc.description,measurementDesc.parameters,growthEnvironments.environments,experimentalEnvironments.environments
0,"[2021, 5, 20]",Luciferase luminescence,Photek 225/18 CCD camera,Mature plants were on square vertical agar pla...,[],[],[]

In [116]:
data

{'id': 19235,
 'versionId': '1.0.5',
 'generalDesc': {'name': 'Role of PRR7 in control of the CCA1 promoter',
  'purpose': 'To test whether PRR7 is required for circadian input to the CCA1 promoter in shoots and roots',
  'description': 'In previous experiments several clock mutations were found to have different effects on shoots and roots. In these experiments mature prr7-3 plants expressing CCA1::LUC were grown on vertical agar plates as described previously. LUC activity in shoots and roots was monitored over 2 full days in LD cycles (12:12) followed by 4 days in LL.',
  'comments': 'Details are as in Bordage et al (2016) New Phytol. 212, 136-149'},
 'contributionDesc': {'authors': [{'id': 2627,
    'login': 'hnimmo',
    'firstName': 'Hugh',
    'lastName': 'Nimmo',
    'ORCID': None}],
  'curators': [],
  'institutions': [{'name': 'University of Glasgow',
    'longName': 'University of Glasgow'}],
  'fundings': [{'institution': {'name': 'BBSRC'}, 'grantNr': 'BB/K006835/1'}]},
 'experimentalDetails': {'measurementDesc': {'technique': 'Luciferase luminescence',
   'equipment': 'Photek 225/18 CCD camera',
   'description': 'Mature plants were on square vertical agar plates at 20°C with shoot and root compartments separated and images recorded as in Bordage et al 2016. Plants were sprayed with luciferin 15 h before the start of data collection. Images were recorded every 1.5 h for 2 days in LD and 4 days in LL.',
   'parameters': []},
  'growthEnvironments': {'environments': []},
  'experimentalEnvironments': {'environments': []},
  'executionDate': [2021, 5, 20]},
 'characteristic': {'hasAttachments': False,
  'hasTSData': True,
  'hasPPAJobs': True,
  'hasDataFiles': True,
  'attachmentsSize': 0,
  'biodare1Id': 0,
  'isOpenAccess': True,
  'licence': 'CC_BY',
  'hasRhythmicityJobs': False},
 'bioDescription': {'bios': []},
 'bioSummary': {'dataCategories': [],
  'labels': [],
  'species': [],
  'ecotypes': [],
  'genotypes': [],
  'markers': [],
  'lines': [],
  'growthStages': [],
  'tagTypes': [],
  'materialTypes': [],
  'materialOrigins': [],
  'customTags': [],
  'externalIds': []},
 'species': 'Arabidopsis thaliana',
 'dataCategory': 'EXPR_REPORTER',
 'provenance': {'created': [2021, 5, 20, 11, 40, 29, 435610000],
  'createdBy': 'Hugh Nimmo',
  'modified': [2021, 9, 22, 10, 12, 6, 894984951],
  'modifiedBy': 'Hugh Nimmo'}}

In [117]:
data['characteristic']

{'hasAttachments': False,
 'hasTSData': True,
 'hasPPAJobs': True,
 'hasDataFiles': True,
 'attachmentsSize': 0,
 'biodare1Id': 0,
 'isOpenAccess': True,
 'licence': 'CC_BY',
 'hasRhythmicityJobs': False}

In [119]:
df_characteristics = pd.json_normalize(data['characteristic'])
df_characteristics

,hasAttachments,hasTSData,hasPPAJobs,hasDataFiles,attachmentsSize,biodare1Id,isOpenAccess,licence,hasRhythmicityJobs
0,False,True,True,True,0,0,True,CC_BY,False

In [121]:
df_bioDescrip = pd.json_normalize(data['bioDescription'])
df_bioDescrip

  bios
0   []

In [122]:
df_summary = pd.json_normalize(data['bioSummary'])
df_summary

,dataCategories,labels,species,ecotypes,genotypes,markers,lines,growthStages,tagTypes,materialTypes,materialOrigins,customTags,externalIds
0,[],[],[],[],[],[],[],[],[],[],[],[],[]

In [124]:
data['species']

'Arabidopsis thaliana'

In [127]:
data['dataCategory']

'EXPR_REPORTER'

In [128]:
df_provenance = pd.json_normalize(data['provenance'])
df_provenance

,created,createdBy,modified,modifiedBy
0,"[2021, 5, 20, 11, 40, 29, 435610000]",Hugh Nimmo,"[2021, 9, 22, 10, 12, 6, 894984951]",Hugh Nimmo

In [131]:
result_df = pd.concat([df_generalDesc, df_contributionDesc_authors,df_fundings,], axis=1)

In [132]:
result_df

,name,purpose,description,comments,id,login,firstName,lastName,ORCID,grantNr,institution.name
0,Role of PRR7 in control of the CCA1 promoter,To test whether PRR7 is required for circadian...,In previous experiments several clock mutation...,Details are as in Bordage et al (2016) New Phy...,2627,hnimmo,Hugh,Nimmo,None,BB/K006835/1,BBSRC